/*form for contact me */
.contact {
  form {
    background-color: rgba(255, 255, 255, .9);
    max-width: 600px;
    margin: auto auto 50px auto;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    padding: 15px;
    margin-top: 140px;
  }

  input, textarea {
    font-size: 110%;
    display: block;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 5px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  h3 {
    color: darkslategrey;
  }

  a {
    color: darkcyan;
  }

  @media screen and (max-width: 1200px){
    .more-top-body {
      margin-top: 100px;
    }
  }

  @media screen and (max-width : 760px){
    form {
      margin: 50px 5% 50px 5%;
    }
  }
}

