.about {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 30px 15vw 30px 15vw;

    img {
        max-width: 500px;
    }
    h1 {

    }
    h2 {

    }
    h2.first {
         display: inline-block;
    }
    h2.second {
         display: inline-block;
    }
    h2.third {
         display: inline-block;

    }
}

.about-container-top {
  margin-top: 60px;
}

.about-container-bottom {
  margin-bottom: 60px;
}

.about-container-single-container {
  margin-top: 40px;
  margin-bottom: 75px;
}

@media screen and (max-width : 1200px){
  .about {
      margin: 20px 10vw 20px 10vw;
  }
  .about-container-top {
    margin-top: 20px;
  }
  .about-container-bottom {
    margin-bottom: 80px;
  }
}

@media screen and (max-width : 760px){
  .about {
      margin: 10px 10px 10px 10px;
  }
  .about-container-top {
    margin-top: 80px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
