.event {
  padding: 5%;
  margin: 100px 15vw 60px 15vw;
  img {
    width: 100%;
  }
  a {
    color: darkblue;
  }
  h2, h3, ol, p {
    color: black; 
    text-align: left;
  }
  p, ol {
    font-size: 110%;
  }
  h1 {
    margin: 0;
    text-shadow: 2px 2px black;
    background-color: #ff805b;
    color: white;
    padding: 5px 5px 5px 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    width: 90%;
  }
}

@media screen and (max-width : 1200px){
  .event {
      margin: 100px 15vw 60px 15vw;
  }
}

@media screen and (max-width : 760px){
  .venue-map {
    iframe {
      height: 45vh;
    }
  }
  .event {
      margin: 80px 10px 10px 10px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
