//Frame
.black-frame {
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  padding: 5%;
  margin: 2em auto;
  border: 1px solid #eee
}

// Venue page title padding
.venue-top {
  padding-top: 50px;
}

.venue-map {
  iframe {
    height: 60vh;
    width: 100%;
  }
}

.icon-about img {
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 15px;
}

@media screen and (max-width : 760px){
  .venue-map {
    iframe {
      height: 45vh;
    }
  }
}
