    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Theme, Vision, Mission</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Read more about our Theme, Vision, and Mission</p>
                                </div>
                                <a href="/2016/about" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agenda</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Check out the agenda</p>
                                </div>
                                <a href="/2016/agenda" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Team</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Find out the team members</p>
                                </div>
                                <a href="/2016/team" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Venue</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Learn more about our location</p>
                                </div>
                                <a href="/2016/venue" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>FAQs</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Have a Question? Many answers can be found right here in our FAQs</p>
                                </div>
                                <a href="/2016/faqs" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>