<nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><img src="../css/2017_style/img/ontaclogo.png" style="margin-top:-15px" width="150px" alt="icon-about"></a>
        </div>
        <div class="all-links">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/about" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">About Us</a>
              </li>
              <li>
                <a href="/schedule" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Schedule</a>
              </li>
              <li>
                <a href="/team" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Team</a>
              </li>
              <li>
                <a href="/location" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Location</a>
              </li>
              <li>
                <a href="/faqs" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">FAQs</a>
              </li>
              <li>
                <a class="page-scroll" href="../#contact" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Contact Form</a>
              </li>
              <li>
                <a href="mailto:inquiries@ontac.org" target="_blank"  style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Email Us</a>
              </li>
              <li>
                <a href="/planetutorial" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">RC Plane Tutorial</a>
              </li>
              <li>
                <a href="https://www.gofundme.com/f/rocket-team-fund?member=27805491&utm_campaign=p_lico+share-sheet&utm_medium=copy_link&utm_source=customer" target="_blank" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">GoFundMe</a>
              </li>
              <li>
                <a href="/sponsor" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Sponsor</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav-btn">
            <div class="nav-links" style="display: flex; height: 100%; align-items: center; margin-top: 2px;">
                <ul>
                        <li class="nav-link" style="--i: .6s; margin-bottom: -15px; margin-top: -2px">

                            <a href="#" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; letter-spacing: 1px; color: #fff;">About</a>

                            <div class="dropdown">
                                <ul>

                                    <li class="dropdown-link">
                                        <a href="/about" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">About Us</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="/schedule" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Schedule</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="/team" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Team</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="/location" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Location</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="/faqs" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">FAQs</a>
                                    </li>

                                </ul>
                            </div>
                            </li>
                        <li class="nav-link" style="--i: .6s">
                        </li>

                        <li class="nav-link" style="--i: .6s; margin-bottom: -15px; margin-top: -2px">

                            <a href="#" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; letter-spacing: 1px; color: #fff;">Contact</a>

                            <div class="dropdown">
                                <ul>

                                    <li class="dropdown-link">
                                        <a class="page-scroll" href="../#contact" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Contact Form</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="mailto:inquiries@ontac.org" target="_blank"  style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Email Us</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: .6s">
                        </li>

                        <li class="nav-link" style="--i: .6s; margin-bottom: -15px; margin-top: -2px">
                          <a href="#" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; letter-spacing: 1px; color: #fff;">Resources</a>

                          <div class="dropdown">
                              <ul>

                                <li class="dropdown-link">
                                  <a href="/planetutorial" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">RC Plane Tutorial</a>
                                </li>

                              </ul>
                          </div>
                        </li>

                        <li class="nav-link" style="--i: .6s; margin-bottom: -15px; margin-top: -2px">

                            <a href="#" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; letter-spacing: 1px; color: #fff;">Support Us</a>

                            <div class="dropdown">
                                <ul>

                                    <li class="dropdown-link">
                                        <a href="https://www.gofundme.com/f/rocket-team-fund?member=27805491&utm_campaign=p_lico+share-sheet&utm_medium=copy_link&utm_source=customer" target="_blank" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">GoFundMe</a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="/sponsor" style="text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:15px; padding-bottom: 2rem; padding-top: 2rem;">Sponsor</a>
                                    </li>

                                </ul>
                            </div>
                            </li>
                        <li class="nav-link" style="--i: .6s">
                        </li>

                </ul>
            </div>

        </div>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>

<!--
    {% for page in site.pages %}
      {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->
