<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Functional Scala 2019</h2>
                </div>
            </div>
            <div class="row container">
                <p>Functional Scala 2019 (London Edition) is a free 2-day conference
                devoted to using the powerful features and libraries of the Scala
                programming language to build robust, modern, software that is easier 
                to understand and maintain.</p>

                <p>At this conference, you can find talks, workshops, and panels from 
                    leading open source contributors and commercial developers. </p>

                <p>Stay tuned for full speaker lineup and agenda, and reserve your ticket today!</p>

          <!--     <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center> -->
            </div>
        </div>
    </section>
