<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About this Event</h2>
                </div>
            </div>
            <div class="row container">
                <p>Functional Scala 2019 (London Edition) is a free 2-day conference devoted to functional programming in Scala.</a>
                </p>
                <div>
<p><b>NOTE: You MUST have a ticket to attend.
Tickets are completely FREE, although if you can afford,
we ask you to chip in to help cover the costs for the venue!</b></p>

<p>Functional Scala 2019 (London Edition) is a free 2-day conference
devoted to using the powerful features and libraries of the Scala
programming language to build robust, modern, software that is easier to understand and maintain.</p>

<p>At this conference,
  you can find talks, workshops,
  and panels from leading open source contributors,
  commercial developers, and researchers from academia. </p>

<p> Agenda and speakers to be announced on an ongoing basis.</p>

               <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>
