<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Title</h2>
                </div>
            </div>
            <div class="row container">
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="<iframe width="560" height="315" src="https://www.youtube.com/embed/EW5wfL-_SF0" &autoplay=1 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>

                 <center><a href="https://forms.gle/6USRWusMtRrVks1p7" target="_blank"  class="page-scroll btn btn-xl">Sign Up Now</a></center>
            </div>
        </div>
    </section>
