---
layout: 2016_default
permalink: /2016/team
title: Team Member
---
  <!--background color-->
  <script type="text/javascript">
      document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
  </script>

  <!-- this section wraps the team members as a container-->
  <section class="cf team-container team-container-top black-frame">
    <h1 class="team-h1">List 1</h1>
  
    {% for team in site.data.twenty_16.teams_1 %}
    <div class="team-member">
      <img class="team-photo" src="../css/2016_style/img/team/{{ team.img }}">
      <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
      <h3>{{ team.name }}</h3>
      <span>{{ team.position }}</span>
       <a class="email" href="mailto:{{ team.email }}"><span >E-Mail</span></a>
    </div> 
    {% endfor %}
  </section>

  <section class="cf team-container black-frame">
    <h1 class="team-h1">List 2</h1>

    {% for team in site.data.twenty_16.teams_2 %}
    <div class="team-member">
      <img class="team-photo" src="../css/2016_style/img/team/{{ team.img }}">
      <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
      <h3>{{ team.name }}</h3>
      <span>{{ team.position }}</span>
       <a class="email" href="mailto:{{ team.email }}"><span >E-Mail</span></a>
    </div> 
    {% endfor %} 
 </section>