<!-- jQuery Version 1.11.0 -->
<script src="{{ "../css/2016_style/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "../css/2016_style/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "../css/2016_style/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "../css/2016_style/js/agency.js" | prepend: site.baseurl }}"></script>