<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2016_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Title<br></div>
                <div class="intro-lead-in">Date</div>
                <div class="intro-lead-in">Location</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2016_data/intro.html %}
    {% include 2016_data/speakers.html %}
    {% include 2016_data/about.html %}
    {% include 2016_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>