<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/css/2016_style/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Ontario Aerospace Competition<br></div>
                <div class="intro-lead-in">Date: TBD</div>
                <div class="intro-lead-in">The Woodlands Secondary School Park</div>
                <a href="https://forms.gle/6USRWusMtRrVks1p7" target="_blank" class="page-scroll btn btn-xl">Sign Up Now</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
