<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" style="text-shadow: 5px 5px 10px black;">God's Own Country Films<br></div>
                <p style="font-size: 24px; font-weight: 700; text-shadow: 5px 5px 10px black;">Europe's Leading Film Distributor for Superhits from Indian Movies</p>
                <a href="#speakers" class="page-scroll btn btn-xl">Book Tickets</a>
            </div>
        </div>
    </header>

    {% include 2017_data/posters.html %}
    {% include 2017_data/about.html %} 
    {% include 2016_data/footer.html %}
    </body>
</html>
